$aura-american-blue: #1e306e;
$aura-baby-blue: #a7eaff;
$aura-denim-blue: #1074d0;
$aura-sky-blue: #47c1fd;
$aura-gray: #d6d7db;
$aura-cool-gray: #e7f0f5;
$aura-horizon-orange: #ff5f2d;
$aura-mandarin: #ff8e58;
$aura-night-blue: #040443;
$aura-orange: #ffbe82;
$aura-pale-yellow: #ffedad;

$status-active-color: #1d7324;
$status-disabled-color: #8a9ba8;
