@use 'colors';

@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '@blueprintjs/select/lib/css/blueprint-select.css';
@import '@blueprintjs/table/lib/css/table.css';
@import 'normalize.css/normalize.css';

html {
  background: #f8f8f8;
}

body {
  background: linear-gradient(colors.$aura-american-blue, colors.$aura-denim-blue);
  margin: 0;
  min-height: 100vh;
}

body * {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}
